<div class="container-team">
  <ul class="list-inline text-center">
    <li class="pixel">
      <img src="https://kitt.lewagon.com/placeholder/users/thiagohenriquesantos" alt="" class="img-circle">
      <h3>Thiago Santos</h3>
    </li>
    <li>
      <img src="https://kitt.lewagon.com/placeholder/users/CodeWarhol" alt="" class="img-circle">
      <h3>Andres</h3>
    </li>
  </ul>
</div>
